.home {
  .s1 {
    padding: 4rem 3rem;
    flex-direction: column;
    position: relative;
    z-index: 5;
   .top-wrap {
    width: 100%;
    display : flex;
    justify-content: center;
    align-items: center;
    .swiper {
      .swiper-slide {
        padding: 1rem;
        img {
          height: 100%;
          box-shadow: 1rem -1rem 1rem 0rem #e3e0e0;
          &:hover {
            filter : brightness(1);
          }
        }
      }
    }
   }
  }
}
