.in-section {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding : 2rem;
    img {
        width: 100%;
        max-width: 30rem;
    }
}